h2 {
    margin-top: 6px;
    font-weight: 400;
}

img {

    margin-top: 0px;
}

ol {
    text-align: center;
}

li {
    padding: 2px;
    background-color: dodgerblue;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 36px;
    border-radius: 10px;
    width: 75%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5)
}

li:hover {
    color: aliceblue;

}